:root {}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Typography */

h1 {
    font-family: 'Bangers', cursive;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 4rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 3rem;
}

h3 {
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 2.5rem;
}

h4 {
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 1.75rem;
}

p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.1rem;
    line-height: 1.7;
}

/* Special type classes */
.display {
    font-size: 6rem;
    margin-top: 0;
}

.lead {
    font-size: 1.5rem;
    line-height: 1.7;
}

.emphasis {
    border-bottom: solid 2px white;
    font-style: italic;
}

.btn {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 8px;
    border-radius: 5px;
}

.btn:hover {
    background: black;
    color: white;
}

/* Navbar */

.main ul {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    min-height: 10vh;
    list-style-type: none;
    background: black;
    margin: 0;
    place-items: center start;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.activeNav {
    border-bottom: solid 2px tomato;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.navbar li a:hover {
    color: tomato;
}

/* LANDING PAGE RULES */

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    min-height: 100vh;
    margin-top: 0;
    place-items: center center;
    padding-bottom: 100px;
}

.why {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
    place-items: center center;
    text-align: left;
}

.why h3 {
    justify-self: start;
}

.what {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
    place-items: center center;
    text-align: left;
}

.what h3 {
    justify-self: start;
}

.how {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
    place-items: center center;
    text-align: left;
}

.how h3 {
    justify-self: start;
}

.how-deets {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.video {
    display: grid;
    place-items: center center;
    margin-top: 200px;
    margin-bottom: 200px;
    min-height: 75vh;
}

/* Contributors */
.contributors {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 80%;
}

.card-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card-gallery a {
    text-decoration: none;
}

.con-card {
    display: grid;
    place-items: center center;
    background: linear-gradient(to right, #44a08d, #093637);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    min-height: 100%;
    align-content: center;
}

.con-card:hover {
    transform: scale(1.02);
    transition: transform .4s;
    cursor: pointer;
}

.con-card img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.con-card h5 {
    margin: 0;
}

/* CHEATSHEET RULES */

.cheat-header {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    color: white;
    align-items: start;
    justify-items: center;
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

.cheat-header h1,
h4 {
    margin-left: 50px;
    margin-bottom: 0;
    margin-right: 50px;
    margin-top: 50px;
}

.lang-nav {
    display: grid;
    place-items: center center;
}

.lang-nav ul {
    display: grid;
    width: 80vw;
    grid-gap: 20px;
    min-height: 10vh;
    padding-bottom: 50px;
    list-style-type: none;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.lang-nav li {
    display: grid;
    background: linear-gradient(to right, rgb(241, 228, 110), rgb(243, 219, 7));
    border-radius: 5px;
    place-items: center center;
    font-size: 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.lang-nav li:hover {
    transform: scale(1.02);
    transition: transform .4s;
    cursor: pointer;
}

.lang-nav li a {
    text-decoration: none;
    color: black;
    font-weight: 750;
}


.html-cheat {
    display: grid;
    margin-top: 200px;
    grid-template-columns: 1fr;
    margin-left: 50px;
    margin-right: 50px;
    /* Remove after content built */
    padding-bottom: 200px;
    justify-content: center;
}

.html-cheat h2,
h4 {
    justify-self: center;
    margin-bottom: 0;
}

.code-pair {
    display: grid;
    grid-gap: 30px;
    margin-top: 150px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.explanation {
    display: grid;
    justify-self: center;
    grid-column: 1 / -1;
    min-height: 200px;
    min-width: 85%;
    /* styling */
    background: #ecf0f1;
    font-weight: 100;
    place-items: center center;
}

code {
    display: grid;
    grid-template-columns: 1fr;
}

.sample {
    display: grid;
    grid-template-columns: 1fr;
}

.code-card {
    display: grid;
    border: solid 1px black;
    place-items: center center;
}

/* COMING SOON */

.gif {
    display: grid;
    min-height: 100vh;
    place-items: center center;
    background: black;
    color: white;
}

.gif img {
    width: 55%;
    height: auto;
}






/* Media Queries */
@media (max-width: 700px) {

    .display {
        font-size: 5rem;
        text-align: center;
    }

    .main ul {
        grid-template-columns: 1fr;
        place-items: center center;
    }

    .intro {
        grid-template-columns: 1fr;
    }

    .why {
        grid-template-columns: 1fr;
    }

    .what {
        grid-template-columns: 1fr;
    }

    .how {
        grid-template-columns: 1fr;
    }

    .lang-nav ul {
        grid-template-columns: 1fr;
    }

    .html-cheat {
        grid-template-columns: 1fr;
    }

    .code-pair {
        grid-template-columns: 1fr;
    }
}
